*{
    padding: 0%;
    margin:0%;

}
.body{
    background: url("../bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board{
    background: linear-gradient(rgb(10, 19, 10),rgb(169, 169, 14));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head{
    background-color: red;
    border: 2px solid yellow;
    transform: scale(1.02);
    border-radius: 9px;
}
#scoreBox{
   position: absolute;
   top: 26px;
   right: 170px;
   font-size: 48px;
   font-weight: bold;
}

.snake{
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px;
}

.food{
    background: linear-gradient(rgb(240, 231, 231), rgb(221, 215, 221));
    border: .25vmin solid black;
    border-radius: 8px;
}    